@using TriageSystem.Areas.Identity.Data
@model TriageSystemUser
@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .Red {
        background-color: red;
    }

    .Orange {
        background-color: orange;
    }

    .Yellow {
        background-color: yellow;
    }

    .Green {
        background-color: green;
    }

    .Blue {
        background-color: blue;
    }
</style>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Time_checked_in)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientCheckInList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
        </tr>
}
    </tbody>
</table>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Time_checked_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientWaitingList)
        {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td class="@item.Priority">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
        </tr>
        }
    </tbody>
</table>