@using TriageSystem.Areas.Identity.Data
@model TriageSystemUser
<p>
    <a asp-controller="Patient" asp-action="Register">Register Patient</a>
</p>
<h2 id="hospitalID">@Html.DisplayFor(model => model.Staff.HospitalID)</h2>
<h2>@Html.DisplayFor(model => model.Staff.Hospital.Name)</h2>

@{ var id = 0;}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Infections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Time_checked_in)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientCheckInList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Infections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a asp-controller="Triage" asp-action="SelectFlowcharts">Perform Triage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Time_checked_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().MinutesLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientWaitingList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td class="duration" id="@id">
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td class="@item.Priority" id="@item.PatientId">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
        </tr>
            id++;
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var elements = document.getElementsByClassName("duration");
        //var i = 0;
        //var counter;
        //timer = [];
        //console.log(elements.length);
        //for (i = 0; i < elements.length; i++) {
        //    timer.push(new CountDownTimer(time));
        //    timeObj = CountDownTimer.parse(time);
        //    format(timeObj.minutes, timeObj.seconds);
        //    timer[i].onTick(format);
        //}
        //var t = display[i].textContent;


        //var count = 30;
        var c = 0;
        var counter = setInterval(timer, 1000) //1000 will  run it every 1 second
        function timer() {
            for (var i = 0; i < elements.length; i++) {
                console.log(elements.length + "--------------length");
                console.log(i);
                var display = document.getElementById(i);
                count = display.textContent;
                if (count > 0) {
                //    console.log("----------sagdsadgsadgd-----------");
                //    clearInterval(counter);
                //    //counter ended, do something here
                //    return;
                //} else {
                    console.log(i);
                    count = count - 1;
                    display.textContent = count;
                }


            }
            c++;
     


            //Do code for showing the number of seconds here
        }
        
        //function format(minutes, seconds) {
        //    for (var i = 0; i < elements.length; i++) {
        //        minutes = minutes < 10 ? "0" + minutes : minutes;
        //        seconds = seconds < 10 ? "0" + seconds : seconds;
        //        var display = document.getElementById(i);
        //        display.textContent = seconds;
        //    }
        //}


        //timer.start();

    });

</script>