@using TriageSystem.Areas.Identity.Data
@model TriageSystemUser
<p>
    <a asp-controller="Patient" asp-action="Register">Register Patient</a>
</p>
<h2 id="hospitalID">@Html.DisplayFor(model => model.Staff.HospitalID)</h2>
<h2>@Html.DisplayFor(model => model.Staff.Hospital.Name)</h2>

@{ var id = 0;}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Infections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientCheckInList.FirstOrDefault().Time_checked_in)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientCheckInList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Infections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a asp-controller="Triage" asp-action="SelectFlowcharts">Perform Triage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Patient.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().PPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Time_checked_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.Hospital.PatientWaitingList.FirstOrDefault().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff.Hospital.PatientWaitingList)
        {
        <tr class="t">
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td id="time-@id">
                @Html.DisplayFor(modelItem => item.Time_checked_in)
            </td>
            <td class="duration" id="@id"></td>
            <td class="@item.Priority">
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.HospitalID">View</a> |

            </td>
            <td style="visibility:hidden"> @Html.DisplayFor(modelItem => item.Duration)</td>
        </tr>
            id++;
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var elements = document.getElementsByClassName("t");
        //var i = 0;
        //var counter;
        //timer = [];
        //console.log(elements.length);
        //for (i = 0; i < elements.length; i++) {
        //    timer.push(new CountDownTimer(time));
        //    timeObj = CountDownTimer.parse(time);
        //    format(timeObj.minutes, timeObj.seconds);
        //    timer[i].onTick(format);
        //}
        //var t = display[i].textContent;


        //var count = 30;
        var counter = setInterval(timer, 1000) //1000 will  run it every 1 second
        function timer() {
            for (var i = 0; i < elements.length; i++) {
                var priority = elements[i].children[5].textContent;
                var d = elements[i].children[3].textContent;
                var e = elements[i].children[7].textContent; // hidden element
                var minutes = 0;
                var triageDate = new Date(d);
                if (priority.includes("Orange")) {
                    minutes = 10;
                }
                if (priority.includes("Yellow")) {
                    minutes = 60;
                }
                if (priority.includes("Green")) {
                    minutes = 120;
                }
                if (priority.includes("Blue")) {
                    minutes = 240;
                }
                var expiryDate = new Date(triageDate);
                expiryDate = new Date(expiryDate.setMinutes(expiryDate.getMinutes() + minutes));
                var display = document.getElementById(i);
                var distance = expiryDate.getTime() - new Date().getTime();

                if (distance > 0) {
                    countdown = new Date().setTime(distance);
                    var h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var s = Math.floor((distance % (1000 * 60)) / 1000);
                    display.textContent = parseTime(h, m, s);
                }
                else {
                    display.textContent = "Expired";
                }


            }
                
        }

        function parseTime(h, m, s) {
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            return h + ":" + m + ":" + s;
        }

        



        // ref: https://www.w3schools.com/howto/howto_js_countdown.asp
    });

</script>