@model TriageSystem.Models.PatientWaitingList

@{
    ViewData["Title"] = "TriageAssessment3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TriageAssessment3</h2>

<div>
    <h4>PatientWaitingList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time_checked_in)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time_checked_in)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.PPS)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
