@model TriageSystem.Models.PatientWaitingList

@{
    ViewData["Title"] = "TriageAssessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/css/DetailsPageStyle.css" rel="stylesheet" type="text/css" media="all">*@

<style>

    .dl-horizontal {
        width: 50%;
        margin: 0 auto;
    }

dt.label {
    display: block;
    background: #347BB7;
    background: -webkit-linear-gradient(top right, #347BB7, #98E6E8);
    background: -moz-linear-gradient(top right, #347BB7, #98E6E8);
    background: linear-gradient(top right, #347BB7, #98E6E8);
    border-radius: 10px;
    width: 30%;
    padding: 3px;
    margin: 5px;
    color: white;
}

    .border {
        position: relative;
        background: red;
        background: -webkit-linear-gradient(left, red, #AC05EC, #84BDEF);
        background: -moz-linear-gradient(left, red, #AC05EC, #84BDEF);
        background: linear-gradient(to right,red, #AC05EC, #84BDEF);
        padding: 3px;
    }

    .Red {
        background-color: red;
    }

    .Orange {
        background-color: orange;
    }

    .Yellow {
        background-color: yellow;
    }

    .Green {
        background-color: green;
    }

    .Blue {
        background-color: blue;
    }

</style>

<h2 class="module">Triage Assessment</h2>

<div style="width: 100%;">
    <hr />
    <dl class="dl-horizontal" style="font-size: 25px;">
        <dt class="label">
            Patient ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class="label">
            @Html.DisplayNameFor(model => model.Patient.PPS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.PPS)
        </dd>
        <dt class="label">
            Full Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>
        <dt class="label">
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Date_of_birth)
        </dd>
        <dt class="label">
            @Html.DisplayNameFor(model => model.Infections)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Infections)
        </dd>
        <dt class="label">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal" style="font-size: 25px;">
        <dt class="label" style="text-align: center; width: 100%;">
            Flowchart
        </dt>
        <dd></dd>
        <dt class="label">
            @Html.DisplayNameFor(model => model.Flowchart.Discriminators.First().Name)
        </dt>
        <dd>
            <snap id="name"></snap>
            @*@Html.DisplayFor(d.Name);*@
        </dd>
        <dt class="label">
            @Html.DisplayNameFor(model => model.Flowchart.Discriminators.First().Description)
        </dt>
        <dd id="border">
            <p id="description" style="background: white; margin: 0; padding: 5px;"></p>
            @*@Html.DisplayFor(d.Name);*@
        </dd>
        <dt class="label" style="margin-top: 10px;">
            @Html.DisplayNameFor(model => model.Flowchart.Discriminators.First().Priority)
        </dt>
        <dd style="margin-top: 5px;">
            <span id="priority" style="border-radius: 10px; padding: 4px;"></span>
            @*@Html.DisplayFor(d.Name);*@
        </dd>

    </dl>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding: 2px; width:30%;">
            <input type="button" value="Yes" id="yes" class="btn btn-default" style="width: 120px; margin: 0 auto;" />
        </dt>
        <dd style="padding: 2px; width: 70%;">
            <input type="button" value="No" id="no" class="btn btn-default" style="width: 120px; margin: 0 auto;" />
        </dd>
    </dl>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*<script src="~/lib/jquery/dist/browser/jquery.js"></script>*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
    var size = 0;
    var counter = 0;
    var json = @Html.Raw(Json.Serialize(@Model.Flowchart.Discriminators));
    var currentPriority = "";
    var hospitalID = '@Model.HospitalID';

    $(document).ready(function () {
        Object.keys(json).forEach(function (key) {
            size++;
        });
            setValues();
    });

    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44375/notificationHub").build();
    connection.logging = true;

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });


    document.getElementById("yes").addEventListener("click", function (event) {
        postData();

    });

    document.getElementById("no").addEventListener("click", function (event) {
        if (counter >= size - 1) {
            currentPriority = "Blue";
            postData();
        } else {
            counter++;
            setValues();
        }
    });

    function setValues() {
        var discriminator = json[counter];
        for (var item in discriminator) {
            switch (item) {
                case "name":
                    document.getElementById("name").textContent = discriminator[item];
                    break;
                case "description":
                    if (discriminator[item] != null) {
                        document.getElementById("description").textContent = discriminator[item];
                        var divElement = document.querySelector("#border");
                        divElement.classList.add("border");
                    } else {
                        document.getElementById("description").textContent = "";
                        var divElement = document.querySelector("#border");
                        divElement.classList.remove("border");
                    }
                    break;
                case "priorityString":
                    currentPriority = discriminator[item];
                    document.getElementById("priority").textContent = currentPriority;
                    var divElement = document.querySelector("#priority");
                    divElement.classList.add(currentPriority);
                    break;
            }
        }
    }

    function postData() {
        var patient = {};
        patient.PatientId = '@Model.PatientId';
        patient.Condition = '@Model.Condition';
        patient.PriorityString = currentPriority;
        patient.HospitalID = '@Model.HospitalID';
        patient.Arrival = '@Model.Arrival';
        patient.Infections = '@Model.Infections';
        patient.FlowchartId = '@Model.FlowchartId';
        patient.Time_checked_in = '@Model.Time_checked_in';
        //var array = [];
        //array.push(patient);
        //array.push(currentPriority);
        console.log(patient);
        var x = JSON.stringify(patient);
        console.log(x);
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Triage/GivePriority",
            data: JSON.stringify(patient),
            success: function (response) {
                console.log(response);
                if (response == "Success") {
                    connection.invoke("SendNotification", hospitalID).catch(function (err) {
                        console.log(err);
                        return console.error(err.toString());
                    });
                    //event.preventDefault(); // read about this function and the importance of it
                    setTimeout(redirect, 100);
                    function redirect() {
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                } else {
                    alert(response);
                }
            },
            error: function (response) {
                alert(response + " error");
            }
        });
    }

</script>