@model TriageSystem.ViewModels.PatientCheckInViewModel

@{
    ViewData["Title"] = "CheckedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/DetailsPageStyle.css" rel="stylesheet" type="text/css" media="all">

<div><h2 class="module">Patient checked in</h2></div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PPS)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.PPS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Full_name)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Full_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_of_birth)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Date_of_birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Infections)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Infections)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time_checked_in)
        </dt>
        <dd class="form-control" style="float: left; width: 60%; margin: 1px;"> 
            @Html.DisplayFor(model => model.Time_checked_in)
        </dd>
    </dl>
</div>
<hr />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |*@
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
